* {
padding: 0px;
margin: 0px;
box-sizing: border-box;
font-family: 'Roboto', sans-serif;
}


.containter {

    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 150px 1fr 1fr;

    
}

.main {
    height: 1400px;
    color: white;
    
    font-style: bold;
    font-weight: bolder;
    grid-row: 1/4;
    max-height: 100%;
    background-color: #0ea5e9;
    display: grid;
    grid-template-rows: 100px repeat(5, 100px)  repeat(4, 100px);
    text-align: left;
    font-size: 30px;
    
    
    
}
.dashboard {

    font-size: larger;
    padding: 25px;
    position: relative;
    
}

.bullseye-arrow {

    height: 35px;
    width: 35px;
    position: relative;
    top: 6px;
    
    
}
.main-sectional-one {

    grid-row: 1/2;
    

}

.main-sectional-two {

    grid-row: 2/5;
    display: grid;
    grid-template-rows: repeat(5, 55px);
    position: relative;
    left: 50px;
    font-size: 25px;
    

}


.main-sectional-three {

    grid-row: 5/8;
    display: grid;
    grid-template-rows: repeat(5, 55px);
    position: relative;
    left: 50px; top: 25px;
    font-size: 25px;
    
}
.top-bar-section {
    background-color: white;
    grid-column: 2/6;
    display: grid;
    grid-template-columns: 500px 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    text-align: center;
    
    
}

input {

    width:600px;
    height:auto;
    border-radius: 2px;
    font-family: inherit;
    border-radius: 10px;
    height: 25px;
    background-color: lightgray;
    border: 4px lightgray solid;
   
}

label {
    position: relative;
    top: 9px;
}

.search-bar-form {
    width: 700px;
    position: relative;
    top: 25px;
}
.middle-section {

    background-color: #eff6ff;
    grid-column: 2/6;
    grid-row: 2/4;
    display: grid;
    grid-template-columns: 3fr 1fr;
    height: 1250px;
}

.middle-left {
    
    display: grid;
    grid-template-columns:  repeat(2, 1fr);
    grid-template-rows: 50px repeat(3, 1fr);
    gap: 15px;    
    height: 400px;
    width: 250px;
    padding-left: 50px;
}


.middle-right {

    display: grid;
    grid-template-rows: 50px 400px 50px 400px;
    gap: 25px;
    padding-right: 25px;
    
}

.top {
    display: grid;
    grid-template-rows: 20px repeat(3 1fr);
    box-shadow: 1px 1px 6px;
    background-color: white;
    border-radius: 15px;
    text-align: center;
    
    
}


.middle-right-p-holder { 
    border-bottom: grey solid 1px ;
    padding: 25px;
    margin: 25px;
}

.middle-right-p-holder { 
    border-bottom: grey solid 1px ;
    padding: 25px;
    margin: 25px;
    font-size: small;
    word-break: break-all;
    padding-top: 0px;
    
}
.middle-right-p-holder:last-child{ 

    border-bottom: none;
    font-size: small;
    word-break: break-all;
    padding-top: -10px;
    
}

.right-side-text {
    font-size: 15px;
    font-weight: bold;
    text-align: left;
    
}


.bottom {
    display: grid;
    grid-template-rows: repeat(4 1fr);
    background-color: white;
    border: gray solid 1px;
    border-radius: 15px;
    
    
}

.middle-right-logo-holder {
    position: relative;
    
    text-align: center;
}
.small-text-right-side{

    font-size: small;
    
}

.shield-icon {
    position: relative;
    right: 100px; top: 45px;
    height: 45px;
    width: auto;
    
}

.bold-text {
    text-align: left;
    font-size: 20px;
    font-weight: bold;
    position: relative;
    top: 35px;
}
.intro {
    grid-column: 1/2;
    grid-row: 2/4;
    display: grid;
    grid-template-columns: 145px 1fr;
    grid-template-rows: 1fr 1fr;
}


.intro-icon {
    grid-row: 1/3;

}

.security-icon {
    height: 70px;
    width: 70px;
    position: relative;
    left: 35px;
    
}

.small-text {

    font-size: 15px;
    font-weight: bold;
    padding-top: 15px;
    padding-left: 28px;
    text-align: left;
    
}

.large-text {

    
    font-weight: bold;
    text-align: middle;
    font-size: 25px;
}

.buttons { 
    grid-column: 3/4;
    grid-row: 2/3;

}

.icons {
    padding: 15px;
    grid-column: 3/4;
    grid-row: 1/2;
    display: grid;
    grid-template-columns: repeat(3, 1fr) ; 

}
.icon-icon-middle {
        text-align: middle;
        position: relative;
        right: 15px;
        

}

.icon-icon-left {
    text-align: right;
    position: relative;
    top: 1px;
    right: 10px;
    height: 30px;
}

.icon-icon-name {

    font-size: 20px;
    text-align: left;
    font-weight: bold;
    position: relative;
    right: 55px;
}


.search-bar {
    grid-column: 1/3;
    grid-row: 1/2;
}


.button1 {

    width: 105px;
    height: 35px;
    border: #0ea5e9;
    background-color: #0ea5e9;
    color: white;
    border-radius: 15px;
    font-size: 18px;
}


.button1:hover {

border: white 2px solid;

}


.section-one {
    
    box-shadow: 1px 1px 4px;
    border-radius: 10px;
    border-left: #f59e0b 10px solid;
    /*Template for buttons and pargraph */
    display: grid;
    grid-template-rows: 50px 175px 1fr;
    /*Template for buttons and pargraph */
    position: relative;
    bottom: 25px;
    background-color: white;
    
}

.section-one-logo {

    text-align: right;
    padding-right: 35px;
    gap: 10px;
    
}

.text {

    word-break: break-all;
    text-align: center;
    padding: 10px;
    width: 400px;
    height: 75px;
    

}

.text-title {

    text-align: bottom;
    padding: 15px;
    font-weight: bold;

}
.yourProjects-text {

    position: relative;
    top: 15px;
    font-weight: bold;
    font-size: 20px;
    grid-row: 1/3;

}



